In [5]:
import requests
import numpy as np
import pandas as pd
import geopandas as gpd
from bokeh.io import output_notebook, show, output_file
from bokeh.plotting import figure
from bokeh.models import GeoJSONDataSource, LinearColorMapper, ColorBar
from bokeh.palettes import brewer

In [275]:
# make file into pandas dataframe and get median

def process_income(month):
    income_data = pd.read_csv(f'data_income_unemployment/household_income_{month}.csv')#,
                                # for monthly data only
                                # header = 4)

    # find median "person number" per state
    total_people_per_state = income_data.sum(axis = 1)
    middle_person = total_people_per_state/2
    # middle_person = pd.DataFrame(middle_person)
    # print(middle_person)

    # delete text column; not used for newer weekly data, though it doesn't really matter.
    # states_removed = income_data.drop(['Selected Geographies'], axis = 1).astype(float)
    # print(states_removed)

    # get cumulative sum of people across rows
    # for monthly data set, use this:
    # states_cumulative = np.cumsum(states_removed, axis = 1)

    # for weekly data set, use this:
    states_cumulative = np.cumsum(income_data, axis = 1)

    # print(states_cumulative)

    # print("cumulative states type is ",type(states_cumulative))
    # print("middle person type is ",type(middle_person))
    
    # find where the median lies within income brackets
    
    def find_median(month):
        i = 0
        medians_across_states = pd.DataFrame(columns = [f'median_income_{month}'])

        # for monthly set, use this:
        for i in range(51):
            j = 0
            # print("j has been reset to", j)

            # while half the total sample for the state is >= cumulative numbers, check the next cumulative number in the income bracket.
            while (middle_person.iloc[i] > states_cumulative.iloc[i,j]) or (middle_person.iloc[i] == states_cumulative.iloc[i,j]):
                median_column = states_cumulative.columns[j]
                
                # statements to check code
                '''
                print("boolean is ", (middle_person.iloc[i] > states_cumulative.iloc[i,j]) or (middle_person.iloc[i] == states_cumulative.iloc[i,j]))
                print("middle_person.iloc[i] = ", middle_person.iloc[i])
                print("states_cumulative.iloc[i,j] = ", states_cumulative.iloc[i,j])
                '''
                
                j += 1

            else:
                median_column = states_cumulative.columns[j]
                # print("The median column is {} for i = {} and j = {}".format(median_column, i, j))
                # print("Median column is ", type(median_column))

                # add into dataframe
                medians_across_states = medians_across_states.append({f'median_income_{month}': median_column},
                                                                        ignore_index = True)

                # print(medians_across_states)

        return medians_across_states

    # print(income_data)

    # put into new dataframe with just states, median income, and month

    return find_median(month)

In [276]:
# process_income('apr').to_csv('apr.csv', index = False)

process_income('w1')

         median_income_w1
0       $50,000 - $74,999
1       $50,000 - $74,999
2       $50,000 - $74,999
3       $35,000 - $49,999
4       $50,000 - $74,999
5       $75,000 - $99,999
6       $50,000 - $74,999
7       $50,000 - $74,999
8       $75,000 - $99,999
9       $50,000 - $74,999
10      $50,000 - $74,999
11      $50,000 - $74,999
12      $50,000 - $74,999
13      $50,000 - $74,999
14      $50,000 - $74,999
15      $50,000 - $74,999
16      $50,000 - $74,999
17      $50,000 - $74,999
18      $50,000 - $74,999
19      $50,000 - $74,999
20      $75,000 - $99,999
21      $75,000 - $99,999
22      $50,000 - $74,999
23      $50,000 - $74,999
24      $35,000 - $49,999
25      $50,000 - $74,999
26      $50,000 - $74,999
27      $50,000 - $74,999
28      $50,000 - $74,999
29      $50,000 - $74,999
30      $75,000 - $99,999
31      $35,000 - $49,999
32      $50,000 - $74,999
33      $50,000 - $74,999
34      $50,000 - $74,999
35      $50,000 - $74,999
36      $50,000 - $74,999
37      $50,000 - $74,999
38      $50,000 - $74,999
39      $50,000 - $74,999
40      $50,000 - $74,999
41      $50,000 - $74,999
42      $50,000 - $74,999
43      $50,000 - $74,999
44      $50,000 - $74,999
45      $50,000 - $74,999
46      $75,000 - $99,999
47      $50,000 - $74,999
48      $50,000 - $74,999
49      $50,000 - $74,999
50      $50,000 - $74,999

In [238]:
states_acronyms = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
    
state_codes = ["01","02","04","05","06","08","09","10","11","12","13","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","42","44","45","46","47","48","49","50","51","53","54","55","56"]

def states_list():
    states_list = pd.read_csv(f'data_income_unemployment/states_list.csv', header = 0)
    states_list["abbreviations"] = states_acronyms
    states_list["FIPS_code"] = state_codes

    print(states_list)
    return states_list

# use this to generate months data
joined_data = states_list().join(process_income('mar'), lsuffix='_caller', rsuffix='_other')
joined_data.to_csv('mar.csv', index=False)

 abbreviations FIPS_code
0                Alabama            AL        01
1                 Alaska            AK        02
2                Arizona            AZ        04
3               Arkansas            AR        05
4             California            CA        06
5               Colorado            CO        08
6            Connecticut            CT        09
7               Delaware            DE        10
8   District of Columbia            DC        11
9                Florida            FL        12
10               Georgia            GA        13
11                Hawaii            HI        15
12                 Idaho            ID        16
13              Illinois            IL        17
14               Indiana            IN        18
15                  Iowa            IA        19
16                Kansas            KS        20
17              Kentucky            KY        21
18             Louisiana            LA        22
19                 Maine            ME        23
20              Maryland            MD        24
21         Massachusetts            MA        25
22              Michigan            MI        26
23             Minnesota            MN        27
24           Mississippi            MS        28
25              Missouri            MO        29
26               Montana            MT        30
27              Nebraska            NE        31
28                Nevada            NV        32
29         New Hampshire            NH        33
30            New Jersey            NJ        34
31            New Mexico            NM        35
32              New York            NY        36
33        North Carolina            NC        37
34          North Dakota            ND        38
35                  Ohio            OH        39
36              Oklahoma            OK        40
37                Oregon            OR        41
38          Pennsylvania            PA        42
39          Rhode Island            RI        44
40        South Carolina            SC        45
41          South Dakota            SD        46
42             Tennessee            TN        47
43                 Texas            TX        48
44                  Utah            UT        49
45               Vermont            VT        50
46              Virginia            VA        51
47            Washington            WA        53
48         West Virginia            WV        54
49             Wisconsin            WI        55
50               Wyoming            WY        56
    Selected Geographies  Less Than $5,000  5,000 To 7,499  7,500 To 9,999  \
0                Alabama             37871           11602           68832
1                 Alaska              6705            1119            2224
2                Arizona             34432           14942           56051
3               Arkansas             39748           13860           38884
4             California            310961          151091          141268
5               Colorado             40851           12417           26364
6            Connecticut             39633            7136            7181
7               Delaware              8946            3076            3541
8   District of Columbia             15494            5635           11020
9                Florida            159107           78045          199412
10               Georgia             76951           35428           79076
11                Hawaii             12005           12473            4396
12                 Idaho              7263            9328            7780
13              Illinois            166378           77320           79613
14               Indiana             59864           58822           64110
15                  Iowa             14669           14209           25691
16                Kansas             13881            7897           11939
17              Kentucky             46306           24284           34843
18             Louisiana             88221           22624           78480
19                 Maine              5434            4557           10600
20              Maryland             29591           11563            7024
21         Massachusetts             43731           18727           53682
22              Michigan             87156           42886           80129
23             Minnesota             51721           13631           35772
24           Mississippi             39251           26293           41980
25              Missouri             41634           23308           73064
26               Montana             10126            5635           10954
27              Nebraska             21655           10274           10047
28                Nevada             29348           10045            5168
29         New Hampshire              4888            1743            6810
30            New Jersey             36953           23009           76827
31            New Mexico             24341            9460           36489
32              New York            173900           90998          123654
33        North Carolina            115465           37131           79512
34          North Dakota              7831            1998            7571
35                  Ohio            200956           48894           94660
36              Oklahoma             40771           27234           32696
37                Oregon             33028            9605           15473
38          Pennsylvania            116020           66243           82540
39          Rhode Island              9400            5373            9074
40        South Carolina             49395           22641           28874
41          South Dakota             10540            2469           10602
42             Tennessee             97806           13579           39855
43                 Texas            193812          160865          238680
44                  Utah             11351            6028            8474
45               Vermont              2707            1333             985
46              Virginia             44403           48977           44124
47            Washington             47912           12868           47739
48         West Virginia             20127            5938           20328
49             Wisconsin             42422           35796           16737
50               Wyoming              4047            3503            4978

    10,000 To 12,499  12,500 To 14,999  15,000 To 19,999  20,000 To 24,999  \
0              82505             58792             94772             95154
1               8185              4943              6436              8740
2              72845             52526             94809            133373
3              55495             37063             57801             81758
4             303328            242527            548189            635919
5              43210             59726             41522            118163
6              19858             25456             37139             54968
7              14964              8342              8283             16355
8               8280              5545              4185              7152
9             227693            236190            439807            442059
10            127219            113601            143278            181107
11             10670              5708             10281             15230
12             10833             16383             28171             28931
13            120388            145195            118260            187149
14             47181             81012            107016            110294
15             25330             26908             63278             61770
16             34662             26059             66215             41480
17             72102             86734            116404            105427
18             71869             54121             92352            129542
19             21763             17166             22281             33711
20             14040             33464             58427             66026
21             69785             60163             96806             90835
22            153179            108338            159913            192891
23             66568             49969             61906             76910
24             41237             43292            106230             82175
25             91178             44145            130431            152673
26             11593             10451             18096             30041
27             15629             14168             22797             38231
28             13732             36936             39596             50894
29              9511             18198             13259             23007
30             36346             53371             53546            111461
31             29849             20374             33330             35720
32            262398            219503            298023            289472
33            146491            120423            256219            267652
34              6948              5609              8493             15282
35            140304            150821            259359            249438
36             42929             26035             64703             64143
37             27618             39234             47700             79192
38            122546             99164            237419            337343
39             13925             19638             17339             33102
40             76238             27402            124239            122398
41              6963              5533             15678             19409
42            133530             85658            138152            140014
43            271367            149436            432285            577137
44             13426             10850             12034             36038
45              6448              5699              8871             12374
46             71234             84279             91916            107872
47             39852             34580             84284             81827
48             18473             31344             46828             46130
49             68374             44185             80310            100511
50              5482              5501              6417             10845

    25,000 To 29,999  30,000 To 34,999  35,000 To 39,999  40,000 To 49,999  \
0              93665            115516            114588            197908
1               8928              8763             11676             26057
2             124487            158730            127265            251335
3              72089             77579             60543            123039
4             534762            642710            796509            902422
5             113115             68969             74452            219439
6              44509             63545             47419            106293
7              19533             16353             22005             31999
8               7432             13355              7739             13658
9             556918            555282            594698            883104
10            225971            265464            271958            418551
11             23452             23220             17580             37565
12             27991             47405             48391             82651
13            215285            206088            182874            392245
14            179861            165243            177419            208099
15             42375             96928             83476            123479
16             45051             82823             58854             91768
17             72147             99186            111113            174329
18             94878             85505             79771            170198
19             39540             34911             26404             43711
20             90360             97070            130851             96501
21            101825             81453            103097            161184
22            204848            239841            204473            375433
23             72124            137563            109647            236044
24             78406             70213             64892             94293
25            148141            165946            115491            266723
26             24049             35457             28288             46219
27             39725             46884             33740             46224
28             43802             56577             71098             94785
29             13160             18027             24484             27239
30            160461            159816            148420            281802
31             62327             55383             52017             71053
32            320439            370560            382498            547710
33            263598            297693            254271            351295
34             10685             16762             23654             30395
35            200907            276966            299106            343755
36            121479            106183             99659            133836
37             93627             89162             61866            174355
38            207940            353484            253019            387525
39             21084             27341             17311             37019
40             90014            123227            159498            174804
41             12989             19454             22805             31853
42            174054            173566            145784            219373
43            488348            695734            539457            990779
44             32733             50087             57350             77267
45              9343             14762             14812             24109
46             91343            155838             82131            238293
47            109773            137883            179489            262812
48             36270             55650             46909             70263
49            129471            101188            147461            249801
50             10673             12340             13940             19271

    50,000 To 59,999  60,000 To 74,999  75,000 To 99,999  100,000 To 149,999  \
0             167231            184086            246702              232644
1              23699             25967             31400               43124
2             282198            321028            428959              376247
3             100156            150609            152950              104486
4            1076654           1380341           1904834             2039605
5             145319            244405            314935              378173
6              59738            138342            194067              240465
7              26121             48086             58989               53370
8              20417             24160             36554               50003
9             891301            911733            921875              878649
10            372717            417214            446691              432747
11             32374             63159             57739               72807
12             85833             84705             80631               85576
13            474314            491853            680589              720224
14            241798            314943            313241              333380
15            124116            138702            163214              189026
16             86257            140963            143251              152434
17            159215            168066            201216              219263
18            158527            189635            195137              223267
19             47880             56315             63420               88631
20            195684            217601            281208              538576
21            197910            215909            282132              481468
22            283042            507681            477989              624571
23            192347            250499            350082              370174
24            106666             99394            102548              102292
25            205569            268346            366426              260093
26             49782             53929             53024               42537
27             60771            107539            111039               90714
28            122386            131261            174057              186118
29             56034             63162             74700              106809
30            179303            218013            450195              568260
31             81447             92721             89265              100735
32            595909            622772            944876             1008350
33            366492            415395            569711              422473
34             31679             30917             39387               56036
35            369796            468778            614668              638434
36            143466            139864            219399              177378
37            129731            152694            219340              249105
38            471912            565949            581110              644295
39             44881             32091             48057               71231
40            190688            256718            222057              245353
41             31145             49862             55307               42334
42            279646            291366            322609              278946
43            728547           1213909           1209360             1366706
44            121202            152841            159749              154318
45             19664             32358             45276               44510
46            239360            289152            374510              564323
47            207854            342722            375395              564473
48             60806             71593             87642               74468
49            191221            287657            364100              338671
50             21357             31386             35756               31417

    150,000 or More
0            197225
1             35913
2            307386
3             87700
4           2705233
5            446252
6            291192
7             37225
8            101287
9            902842
10           485671
11            75516
12            57542
13           801378
14           235242
15           117448
16            94732
17           115188
18           152527
19            55530
20           503429
21           671000
22           498846
23           312054
24            61618
25           229938
26            34996
27            69371
28           162992
29            87702
30           720782
31            48935
32          1435928
33           438014
34            32846
35           426775
36           149079
37           227034
38           665508
39            58956
40           224458
41            25094
42           258063
43          1242637
44           159658
45            32653
46           796351
47           461516
48            40822
49           193774
50            18733

In [196]:
# opening new types of data.
def open_excel_file(week, state):
    new_stats = pd.read_excel(f"data_income_unemployment/US_employment_stats_{week}.xlsx", sheet_name = state, usecols = "A:B", skiprows = 42)

    # cleaning and transposing data
    new_stats = new_stats.drop([8]).T
    new_stats = new_stats.reset_index()

    # fixing columns
    new_stats.columns = new_stats.iloc[0]
    new_stats = new_stats.drop(new_stats.index[0])
    new_stats = new_stats.drop('Household income ', axis = 1).reset_index(drop = True)

    return new_stats

In [197]:
open_excel_file('w1','AL')

,"Less than $25,000","$25,000 - $34,999","$35,000 - $49,999","$50,000 - $74,999","$75,000 - $99,999","$100,000 - $149,999","$150,000 - $199,999","$200,000 and above"
0,587836,441336,383656,701761,326753,399938,176707,73169

In [247]:
# putting data together to make it look like the other sets of data

# making it blank first to not be affected by past operations
data_per_state = pd.DataFrame()

for i in range(51):
    data_per_state = data_per_state.append(open_excel_file('w3',states_acronyms[i]), ignore_index = True)

data_per_state.to_csv('household_income_w3.csv', index=False)

# note that week 1 = Apr 23 - May 5
# week 2 = May 7 - May 12
# week 3 = May 14 - May 19

In [279]:
# again for new weekly data

joined_data = states_list().join(process_income('w3'), lsuffix='_caller', rsuffix='_other')
joined_data.to_csv('w3.csv', index=False)

Selected Geographies abbreviations FIPS_code
0                Alabama            AL        01
1                 Alaska            AK        02
2                Arizona            AZ        04
3               Arkansas            AR        05
4             California            CA        06
5               Colorado            CO        08
6            Connecticut            CT        09
7               Delaware            DE        10
8   District of Columbia            DC        11
9                Florida            FL        12
10               Georgia            GA        13
11                Hawaii            HI        15
12                 Idaho            ID        16
13              Illinois            IL        17
14               Indiana            IN        18
15                  Iowa            IA        19
16                Kansas            KS        20
17              Kentucky            KY        21
18             Louisiana            LA        22
19                 Maine            ME        23
20              Maryland            MD        24
21         Massachusetts            MA        25
22              Michigan            MI        26
23             Minnesota            MN        27
24           Mississippi            MS        28
25              Missouri            MO        29
26               Montana            MT        30
27              Nebraska            NE        31
28                Nevada            NV        32
29         New Hampshire            NH        33
30            New Jersey            NJ        34
31            New Mexico            NM        35
32              New York            NY        36
33        North Carolina            NC        37
34          North Dakota            ND        38
35                  Ohio            OH        39
36              Oklahoma            OK        40
37                Oregon            OR        41
38          Pennsylvania            PA        42
39          Rhode Island            RI        44
40        South Carolina            SC        45
41          South Dakota            SD        46
42             Tennessee            TN        47
43                 Texas            TX        48
44                  Utah            UT        49
45               Vermont            VT        50
46              Virginia            VA        51
47            Washington            WA        53
48         West Virginia            WV        54
49             Wisconsin            WI        55
50               Wyoming            WY        56